
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
html,body{
    display: grid;
    height: 100vh;
    place-items: center;
    background: #be2edd;
} 
.main_div{
    width: 365px;
    background: #fff;
    padding: 30px;
}